@page "/cidades"
<h4>Lista de Cidades</h4>
<button onclick="window.location.href = '/cidades/formulario'">Adicionar</button>
<div class="table-responsive" id="table">
    <thead>
        <tr>
            <th>Cep</th>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
    </thead>
</div>