@page "/usuarios"
<h4>Lista de Usuários</h4>
<button class="btn btn-primary" onclick="window.location.href = '/usuarios/formulario'">Adicionar</button>
<div class="table-responsive" id="table">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/usuarios.js"></script>
}